{{template "base" .}}

{{define "content"}}

    <div class="container">


        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png"
                     class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                   Kick back in a 36 sq m (387 sq ft) room with a private balcony and pool view, complimentary breakfast and internet. Also get free access to club lounge with cocktails & mocktails.
                   An exceptional dining experience awaits you at Hyatt Regency Chandigarh. Savour the authentic flavours of Italy at Piccante or discover international culinary treasures at our multi-cuisine restaurant Urban Cafe. Unwind in the evening at Stage, or stop by for coffee and scrumptious bakery items at our grab and go cafe Browse. Whether it is breakfast, lunch, dinner or something in between, experience our gracious service and passion for the culinary arts.
                </p>
                <h2 class="text-center mt-5">Amenities</h2>
                <p>
                * This room 
                * Complimentary Wi-Fi Internet access<br>
* iHome®<br>
* Spacious work & study area/Enhanced lighting<br>
* Refreshing views of the Shivalik ranges or of City greens<br>
* Walk-in marble rain shower<br>
* Fitness room<br>
* Crib/24-hour room service/24-hour Concierge services (upon request)<br>
* Complimentary lounge access with cocktails & mocktails<br>
* One way airport transfer<br>
</p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success" >Check Availability</a>

            </div>
        </div>




    </div>

{{end}}


{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="post" class=""  no validate>
        <form action="/" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                    <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input  required class="form-control" class="needs-validation" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input  required class="form-control" class="needs-validation" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `
        attention.custom({
         msg: html,
            title: "Choose your dates",
            
            willOpen: () => {
            const elem = document.getElementById('reservation-dates-modal');
            const rp = new DateRangePicker(elem, {
            format: 'yyyy-mm-dd',
            showOnFocus: true,
            minDate: new Date(),
            })
            },

            didOpen: () => {
            document.getElementById('start').removeAttribute('disabled');
            document.getElementById('end').removeAttribute('disabled');
            },
            



            callback: function(result) {
              console.log("called");

              let form = document.getElementById("check-availability-form");
              let formData = new FormData(form);
              formData.append("csrf_token", "{{.CSRFToken}}");
              formData.append("room_id", "1");

              fetch('/search-availability-json', {
               method: "post",
               body: formData,
               
               })

              .then(response => response.json())
              .then(data => {
              if (data.ok) {
                  attention.custom({
                    icon: 'success',
                    showConfirmButton: false,
                    msg: '<p>Room is available!</p>'
                    +  '<p><a href="/book-room?id='
                    + data.room_id
                    + '&s='
                    + data.start_date
                    + '&e='
                    + data.end_date
                    + '" class="btn btn-primary">'
                    + 'Book now!</a></p>',
                  })
              } else {
                 attention.error({
                   msg: "No availability",
                 })
              }
        })
       }
    });
    })
</script>
{{end}}
